@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  transition: background-color 0.1s ease, color 0.1s ease,
    border-color 0.1s ease;
}
.gmnoprint {
  display: none;
}
.gm-style-cc {
  display: none;
}
button.gm-control-active.gm-fullscreen-control {
  display: none;
}
.intro-slide1 {
  min-height: 100%;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px #dccebfba;
  background-blend-mode: luminosity;
}

.swiper-button-next {
  color: #68625f !important;
}

.swiper-button-prev {
  color: #68625f !important;
}

span.swiper-pagination-bullet {
  background: #68625f !important;
}

*:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
  outline-color: -webkit-focus-ring-color;
  outline-style: auto;
  outline-width: 0px;
}

:root {
  --swiper-navigation-size: 30px !important;
}

@media (min-width: 768px) {
  .ContentContainer {
    margin-left: 12rem;
    /* margin-top: 0rem; */
  }

  /*  header.md\:fixed.w-full.md\:z-10 {
    width: calc(100% - 7rem);
    margin-left: 7rem;
  } */
}

main {
  min-height: calc(100vh - 4rem);
}

#selectUser path {
  color: #0ec164;
}

#selectUser input {
  --tw-ring-color: none;
}

div#react-select-2-group-0-heading,
div#react-select-2-group-1-heading,
div#react-select-2-group-2-heading {
  color: #0ec164;
}
